* {
    box-sizing: border-box;
}

.section-with-aside > * {
    float: left;
}

section {
    min-width: 25em;
}

article,
section,
aside {
    margin: 1em;
}

p,
aside,
prism-js {
    max-width: 40em;
}

.section-with-aside > section {
    width: 40em;
}

figure {
    float: left;

    margin-left: 2em;
    margin-right: 2em;
    max-width: 44em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.app-content-title {
    font-size: 1.4em;
}

prism-js {
    font-size: 0.9em;
    line-height: 1.3;
}

h2 {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.note {
    background-color: #f9f9f9;

    border: 1px solid #333;
    border-radius: 3px;
    padding: 10px;
}

.note:before {
    content: "Note:";
    display: block;
    font-weight: bold;
}
