* {
    box-sizing: border-box;
}

.section-with-aside > * {
    float: left;
}

section {
    min-width: 25em;
}

article,
section,
aside {
    margin: 2em 1em;
}

p,
prism-js {
    max-width: 40em;
}

figure {
    float: left;

    margin-left: 2em;
    margin-right: 2em;
    max-width: 44em;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.app-content-title {
    font-size: 1.4em;
}

prism-js {
    font-size: 0.9em;
    line-height: 1.3;
}
