* {
    box-sizing: border-box;
}

aside,
section {
    float: left;
}

section {
    min-width: 25em;
}

article,
section,
aside {
    padding: 10px;
}

p {
    max-width: 40em;
}

figure {
    float: left;

    max-width: 480px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.app-content-title {
    font-size: 1.4em;
}
