html, body {
    height: 100%;
}

body {
    overflow: hidden;
    margin: 0;
}

#settingsBtn {
    position: absolute;
    top: 0;
    right: 0;

    margin: 20px;
}

#searchBox > input {
    width: 600px;
    max-width: 50%;

    margin: 20px;
}
