html, body {
    height: 100%;
}

body {
    overflow: hidden;
    margin: 20px;
}

#settingsBtn {
    float: right;
}

#searchBox > input {
    width: 600px;
    max-width: 50%;
}

lazy-autosuggest input {
    margin: 0;
}

lazy-autosuggest input,
lazy-autosuggest::shadow .dropdown {
    border: 1px solid #aaa;
}

lazy-autosuggest::shadow .selected {
    background-color: #e2e2e2;
}
