<polymer-element name="app-content"
                 attributes="baseUrl pageTitle">
    <template>
        <content></content>
    </template>
    <script>
        Polymer({
            attached: function() {
                this.hashchangeListener = this.handleHashchange.bind(this);
                this.hashchangeListener();

                window.addEventListener('hashchange', this.hashchangeListener);
            },

            detached: function() {
                window.removeEventListener('hashchange', this.hashchangeListener);
            },

            handleHashchange: function() {
                this.showPage(this.getCurrentPath());
            },

            renderPage: function(link) {
                var body = link.import.body,
                    title = body.querySelector('title') || link.import.querySelector('title');

                this.pageTitle = title.textContent;
                this.innerHTML = body.innerHTML;
            },

            showPage: function(path) {
                var head = document.head,
                    link = this.createLink(path);

                this.currentPage = link.href;

                link.onload = function() {
                    // Check for page being changed while one is being loaded
                    if(this.currentPage === link.href) {
                        this.renderPage(link);
                    }

                    head.removeChild(link);
                }.bind(this);

                head.appendChild(link);
            },

            createLink: function(path) {
                var link = document.createElement('link');

                link.rel = 'import';
                link.href = this.getBaseUrl() + path;

                return link;
            },

            getBaseUrl: function() {
                return (this.baseUrl || '') + '/';
            },

            getCurrentPath: function() {
                return window.location.hash.slice(1);
            }
        });
    </script>
</polymer-element>
