<polymer-element name="app-menu">
    <template>
        <content></content>
    </template>
    <script>
        (function() {
            function isMenuItem(element) {
                return element.matches('core-menu, core-submenu, core-item');
            }

            function isMenu(element) {
                return element.matches('core-menu, core-submenu');
            }

            function setSelectedInParent(node) {
                var parentElement = node && node.parentElement,
                    index;

                if(parentElement && isMenuItem(parentElement)) {
                    if(isMenu(parentElement)) {
                        index = [].slice.call(parentElement.children)
                            .filter(isMenuItem)
                            .indexOf(node);

                        parentElement.opened = true;
                        parentElement.setAttribute('selected', index);
                    }

                    setSelectedInParent(parentElement);
                }
            }

            Polymer('app-menu', {
                ready: function() {
                    this.hashchangeListener = this.handleHashchange.bind(this);
                    this.hashchangeListener();

                    window.addEventListener('hashchange', this.hashchangeListener);
                },

                detached: function() {
                    window.removeEventListener('hashchange', this.hashchangeListener);
                },

                handleHashchange: function() {
                    var matchingItem = this.querySelector('a[href="' + location.hash + '"]');

                    setSelectedInParent(matchingItem);
                }
            });
        })();
    </script>
</polymer-element>
