<link rel="import"
      href="app-content.html">

<polymer-element name="app-page"
                 attributes="baseUrl defaultPage"
                 noscript>
    <template>
        <core-scaffold>
            <core-header-panel navigation flex mode="seamed">
                <content></content>
            </core-header-panel>
            <div tool>{{pageTitle}}</div>

            <app-content pageTitle="{{pageTitle}}"
                         baseUrl="{{baseUrl}}"
                         defaultPage="{{defaultPage}}">
            </app-content>
        </core-scaffold>
    </template>
</polymer-element>
