<link rel="import"
      href="../bower_components/paper-dialog/paper-dialog.html">

<polymer-element name="img-launcher"
                 attributes="src title">
    <template>
        <style>
            :host .normal-img {
                max-width: 100%;
            }

            :host paper-dialog::shadow #actions {
                display: none;
            }
        </style>
        <content class="normal-img" on-tap="{{expand}}"></content>

        <paper-dialog opened="{{expanded}}"
                      backdrop="true">
            <img class="expanded-img"
                 src="{{src}}">
        </paper-dialog>
    </template>
    <script>
        Polymer({
            src: '',
            title: '',

            expand: function() {
                this.expanded = true;
            }
        });
    </script>
</polymer-element>
